<main class="container" id="mainbody">

<form id="create-list-form" hx-post="/create_list"
      onsubmit="setTimeout(() => {
        this.reset();
      }, 1);"
>
<label>List name</label>
<input type="text" required="true" name="name" placeholder="Add new todo list"/>
<label>[Optional] Grocy URL</label>
<input type="text" required="false" name="grocy_url" placeholder="https://grocy.example.com"/>
<label>[Optional] Grocy API key</label>
<input type="text" required="false" name="grocy_api_key" placeholder="HSHNaMMG6JmrTXa836FSQeVq79pDTm866eKFXh4f"/>
<input type="submit">Submit</input>
</form>


<h3>TODO list of lists</h3>
</main>
