{%for task in tasks %}
  <tr class={%if task.completed %} "completed" {% else %} "incomplete" {% endif %} }}>
    <td>
      <input 
        type="checkbox" 
        name="select" 
        hx-post="/task/{{task.id}}" 
        hx-target="closest tr" 
        hx-swap="outerHtml" 
        class="complete"
      >
      {{ task.text }}
    </td>
    <td>
      <button 
        class="outline secondary small-button"
        hx-delete="/task/{{task.id}}" 
        hx-target="closest tr" 
        hx-swap="outerHtml" 
      >
      🗑️
      </button>
    </td>
  </tr>
{% endfor %}
