<tbody
  {%if task.completed %}
    hx-swap-oob="afterbegin:#completedtablebody"
  {% else %}
    hx-swap-oob="beforeend:#tasktablebody"
  {% endif %}
  >
  <tr 
  {%if task.completed %}
    class="completed"
  {% else %}
    class="task"
  {% endif %}
     data-id="{{task.id}}"   
   >
      <td>
        <input 
          type="checkbox" 
          name="select" 
          {%if task.completed %}checked{%endif%}
          hx-post="/task/{{task.id}}" 
        >
      </td>
      <td>
        {{ task.text }}
      </td>
      <td>
        <button 
          class="outline secondary small-button"
          hx-delete="/task/{{task.id}}" 
        >
        🗑️
      </button>
    </td>
  </tr>
</tbody>
