<tbody 
  {%if task.completed %}
  hx-swap-oob="beforebegin:#completed"
  {% else %}
  hx-swap-oob="beforebegin:#tasks"
  {% endif %}
  >
  <tr 
  {%if task.completed %}
    class="completed"
  {% else %}
    class="task"
  {% endif %}
    >
    <td>
      <input 
        type="checkbox" 
        name="select" 
        hx-post="/task/{{task.id}}" 
        hx-target="closest tr" 
        hx-swap="outerHtml" 
      >
      {{ task.text }}
    </td>
    <td>
      <button 
        class="outline secondary small-button"
        hx-delete="/task/{{task.id}}" 
        hx-target="closest tr" 
        hx-swap="outerHtml" 
      >
      🗑️
    </button>
  </td>
</tr>
</tbody>
