<tbody 
  {%if todo.completed %}
  hx-swap-oob="beforebegin:#completed"
  {% else %}
  hx-swap-oob="beforeend:#todos"
  {% endif %}
  >
  <tr 
  {%if todo.completed %}
    class="completed"
  {% else %}
    class="todo"
  {% endif %}
    >
    <td>
      <input 
        type="checkbox" 
        name="select" 
        hx-post="/todo/{{todo.id}}" 
        hx-target="closest tr" 
        hx-swap="outerHtml" 
      >
      {{ todo.text }}
    </td>
    <td>
      <button 
        class="outline secondary small-button"
        hx-delete="/todo/{{todo.id}}" 
        hx-target="closest tr" 
        hx-swap="outerHtml" 
      >
      🗑️
    </button>
  </td>
</tr>
</tbody>
