{%for todo in todos %}
  <tr class={%if todo.completed %} "completed" {% else %} "incomplete" {% endif %} }}>
    <td>
      <input 
        type="checkbox" 
        name="select" 
        hx-post="/todo/{{todo.id}}" 
        hx-target="closest tr" 
        hx-swap="outerHtml" 
        class="complete"
      >
      {{ todo.text }}
    </td>
    <td>
      <button 
        class="outline secondary small-button"
        hx-delete="/todo/{{todo.id}}" 
        hx-target="closest tr" 
        hx-swap="outerHtml" 
      >
      🗑️
    </button>
  </td>
</tr>
{% endfor %}
